<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item</title>
</head>
<body>
    <h2>List Item</h2>
    <a href="/"><button>Home</button></a>
    <a href="/item/add"><button>Tambah Item</button> </a>
    <table border ="1">
        <tr>
          <th>Nama Item</th>
          <th>Brand</th>
          <th>Code Item</th>
          <th>Option</th>
        </tr>
        <%data.forEach(z=>{%>
        <tr>
          <td><%=z.name%></td>
          <td><%=z.brand%></td>
          <td><%=z.codeitem%></td>
          <td>
            <a href="/item/edit/<%=z.id%>">EDIT</a> ||
            <a href="/item/delete/<%=z.id%>">DELETE</a>
          </td>
        </tr>
        <%})%>
      </table>

      <%if(err_msg){%>
        <p><%=err_msg%></p>
      <%}%>
</body>
</html>