<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Supplier</title>
</head>
<body>
    <h2>List Supplier</h2>
    <button><a href="/">Home</a></button>
    <a href="/supplier/add">Tambah Supplier</a>
    <table border ="1">
        <tr>
          <th>NAMA</th>
          <th>KOTA</th>
          <th>Option</th>
        </tr>
        <%data.forEach(z=>{%>
        <tr>
          <td><%=z.name%></td>
          <td><%=z.kota%></td>
          <td>
            <a href="/supplier/edit/<%=z.id%>">EDIT</a> ||
            <a href="/supplier/delete/<%=z.id%>">DELETE</a>
          </td>
        </tr>
        <%})%>
      </table>

      <%if(err_msg){%>
        <p><%=err_msg%></p>
      <%}%>
</body>
</html>